<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>FFXIV Gear Guesser</title>
</head>
<body>
    <h1>FFXIV Gear Guesser</h1>
    <%if(locals.gearInfo) {%>
    <form id="gameForm" method="POST">
        <%if(locals.result) {%>
            <h2><%=result%></h2>
            <h2><%=gearInfo.Name%></h2>
        <%} else if(guesses.length >= 4 || locals.result){%>
            <%let splitName = gearInfo.Name.split(' ')%>
            <%let i = 1%>
            <h2>
                <%let clue = splitName[0] + " "%>
                <%if(clue === "The "){%>
                    <%clue = clue + splitName[1] + " "%>
                    <%i = 2%>
                <%}%>
                <%for(i; i < splitName.length; i++){%>
                    <%for(let x = 0; x < splitName[i].length; x++) {%>
                        <%clue = clue + "_"%>
                    <%}%>
                    <%clue = clue + " "%>
                <%}%>
                <%=clue%>
            </h2>
        <%}%>
        <img src="<%=gearImage%>"/>
        <%if(guesses.length >= 1 || locals.result) {%>
            <p>Equip Level: <%=gearInfo.LevelEquip%></p>
            <p>Item Level: <%=gearInfo.LevelItem%></p>
            <p>Released: <%=gearInfo.GamePatch.ExName%>, <%=gearInfo.GamePatch.Name%></p>
            <%if(guesses.length >= 2 || locals.result) {%>
                <p>Repair: <%=gearInfo.ClassJobRepair.NameEnglish%></p>
                <%if(guesses.length >= 3 || locals.result) {%>
                    <h4>Stats:</h4>
                    <ul>
                        <%for(let i = 0; i < statNames.length; i++) {%>
                            <li><%=statNames[i].replace(/([A-Z])/g, ' $1').trim()%>: <%=statValues[i]%></li>
                        <%}%>
                    </ul>
                    <p><%=gearInfo.ClassJobCategory.Name.replaceAll(' ', ', ')%></p>
                <%}%>
            <%}%>
        <%}%>
        <h3>Guesses:</h3>
        <%for(let i = 0; i < guesses.length; i++){%>
            <p><%=guesses[i]%></p>
        <%}%>
        <%if(!locals.result) {%>
            <%if(locals.close) {%>
                <h4>Hints:</h4>
                <%for(let q = 0; q < close.length; q++) {%>
                    <p><%=close[q]%></p>
                <%}%>
            <%}%>
            <input type="text" name="guess">
            <input id="makeGuess" type="submit" value="Guess" formaction="/checkGuess">
        <%} else {%>
            <input id="restartGame" type="submit" value="Play Again?" formaction="/endGame">
        <%}%>
        </form>
    <%} else {%>
        <form id="gameForm" method="GET">
            <input id="startGame" type="submit" value="Start Game" formaction="/startGame">
        </form>
    <%}%>
</body>
</html>