<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>FFXIV Gear Guesser</title>
</head>
<body>
    <div class="game-border">
        <div class="game-background">
            <h1>FFXIV Gear Guesser</h1>
            <%if(locals.gearInfo) {%>
                <form id="gameForm" method="POST">
                    <%if(locals.result) {%>
                        <h2 class="game-result"><%=result%></h2>
                        <img class="gear-icon" src="<%=gearImage%>"/>
                        <h2 class="gear-name"><%=gearInfo.Name%></h2>
                    <%} else if(guesses.length >= 4 || locals.result){%>
                        <h2>Duty Commenced!</h2>
                        <img class="gear-icon" src="<%=gearImage%>"/>
                        <%let splitName = gearInfo.Name.split(' ')%>
                        <%let i = 1%>
                        <h2 class="gear-name">
                            <%let clue = splitName[0] + " "%>
                            <%if(clue === "The "){%>
                                <%clue = clue + splitName[1] + " "%>
                                <%i = 2%>
                            <%}%>
                            <%for(i; i < splitName.length; i++){%>
                                <%for(let x = 0; x < splitName[i].length; x++) {%>
                                    <%clue = clue + "_"%>
                                <%}%>
                                <%clue = clue + " "%>
                            <%}%>
                            <%=clue%>
                        </h2>
                    <%} else {%>
                        <h2>Duty Commenced!</h2>
                        <img class="gear-icon" src="<%=gearImage%>"/>
                    <%}%>
                    <%if(guesses.length >= 1 || locals.result) {%>
                        <p class="equip-location"><%=gearInfo.ItemUICategory.Name%></p>
                        <p class="equip-lvl">Equip Level: <%=gearInfo.LevelEquip%></p>
                        <p class="item-lvl">Item Level: <%=gearInfo.LevelItem%></p>
                        <p class="release-patch">Released: <%=gearInfo.GamePatch.ExName%>, <%=gearInfo.GamePatch.Name%></p>
                    <%}%>
                    <%if(guesses.length >= 3 || locals.result) {%>
                        <div class="defense-stats">
                            <div class="defense">
                                <p>Defense</p>
                                <p><%=gearInfo.DefensePhys%></p>
                            </div>
                            <div class="magic-defense">
                                <p>Magic Defense</p>
                                <p><%=gearInfo.DefenseMag%></p>
                            </div>
                        </div>
                        <p>ITEM LEVEL <%=gearInfo.LevelItem%></p>
                        <div class="equip-jobs">
                            <h4>Jobs:</h4>
                            <%let jobs = gearInfo.ClassJobCategory.Name.split(" ")%>
                            <%jobs.forEach((job) => {%>
                                <div class="job-container">
                                    <img class="job-icon" src="icons/<%=job%>.png">
                                    <p><%=job%></p>
                                </div>
                            <%})%>
                        </div>
                        <p>Lv. <%=gearInfo.LevelEquip%></p>
                        <h4 class="stats-header">Stats:</h4>
                        <ul class="stats-list">
                            <%for(let i = 0; i < statNames.length; i++) {%>
                                <li><%=statNames[i].replace(/([A-Z])/g, ' $1').trim()%>: <%=statValues[i]%></li>
                            <%}%>
                        </ul>
                    <%}%>
                    <%if(guesses.length >= 2 || locals.result) {%>
                        <p>Materia</p>
                        <p><%=gearInfo.MateriaSlotCount%></p>
                        <div class="repair-info">
                            <p class="repair-job">Repair: </p>
                            <img class="job-icon" src="icons/<%=gearInfo.ClassJobRepair.NameEnglish%>.png">
                            <p><%=gearInfo.ClassJobRepair.NameEnglish%></p>
                        </div>
                    <%}%>
                    <h3>Guesses:</h3>
                    <%for(let i = 0; i < guesses.length; i++){%>
                        <%if(guesses[i] === "") {%>
                            <p>[blank]</p>
                        <%} else {%>
                            <p><%=guesses[i]%></p>
                        <%}%>
                    <%}%>
                    <%if(!locals.result) {%>
                        <%if(locals.close) {%>
                            <h4>Hints:</h4>
                            <%for(let q = 0; q < close.length; q++) {%>
                                <p><%=close[q]%></p>
                            <%}%>
                        <%}%>
                        <input class="guess-box" type="text" name="guess" placeholder="Make a guess">
                        <input class="button" type="submit" value="Guess" formaction="/checkGuess">
                    <%} else {%>
                        <input class="button" type="submit" value="Play Again?" formaction="/endGame">
                    <%}%>
                </form>
            <%} else {%>
                <form id="gameForm" method="GET">
                    <input class="button" type="submit" value="Start Game" formaction="/startGame">
                </form>
            <%}%>
        </div>
    </div>
</body>
</html>