<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>FFXIV Gear Guesser</title>
</head>
<body>
    <div class="game-border">
        <div class="game-background">
            <h1>FFXIV Gear Guesser</h1>
            <%if(locals.gearInfo) {%>
                <form id="gameForm" method="POST">
                    <%if(locals.result) {%>
                        <%if(result === "Duty Complete!") {%>
                            <h2 class="game-result winner"><%=result%></h2>
                        <%} else {%>
                            <h2 class="game-result loser"><%=result%></h2>
                        <%}%>
                        <div class="gear-header">
                            <div class="soulbind"></div>
                            <div class="durability"></div>
                            <img class="gear-icon" src="<%=gearImage%>"/>
                            <%if(result === "Duty Complete!") {%>
                                <h2 class="gear-name winner"><%=gearInfo.Name%></h2>
                            <%} else {%>
                                <h2 class="gear-name loser"><%=gearInfo.Name%></h2>
                            <%}%>
                        </div>
                    <%} else if(guesses.length >= 4 || locals.result){%>
                        <h2>Duty Commenced!</h2>
                        <div class="gear-header">
                            <div class="soulbind"></div>
                            <div class="durability"></div>
                            <img class="gear-icon" src="<%=gearImage%>"/>
                            <%let splitName = gearInfo.Name.split(' ')%>
                            <%let i = 1%>
                            <h2 class="gear-name">
                                <%let clue = splitName[0] + " "%>
                                <%if(clue === "The "){%>
                                    <%clue = clue + splitName[1] + " "%>
                                    <%i = 2%>
                                <%}%>
                                <%for(i; i < splitName.length; i++){%>
                                    <%for(let x = 0; x < splitName[i].length; x++) {%>
                                        <%clue = clue + "_"%>
                                    <%}%>
                                    <%clue = clue + " "%>
                                <%}%>
                                <%=clue%>
                            </h2>
                        </div>
                    <%} else {%>
                        <h2>Duty Commenced!</h2>
                        <div class="gear-header">
                            <div class="soulbind"></div>
                            <div class="durability"></div>
                            <img class="gear-icon" src="<%=gearImage%>"/>
                        </div>
                    <%}%>
                    <%if(guesses.length >= 1 || locals.result) {%>
                        <p class="equip-location"><%=gearInfo.ItemUICategory.Name%></p>
                    <%}%>
                    <%if(guesses.length >= 3 || locals.result) {%>
                        <div class="defense-stats">
                            <div class="defense">
                                <p class="tan">Defense</p>
                                <p class="def-stat"><%=gearInfo.DefensePhys%></p>
                                <div class="bubble"></div>
                            </div>
                            <div class="magic-defense">
                                <p class="tan">Magic Defense</p>
                                <p class="def-stat"><%=gearInfo.DefenseMag%></p>
                                <div class="bubble"></div>
                            </div>
                        </div>
                    <%}%>
                    <%if(guesses.length >= 1 || locals.result) {%>
                        <div class="ilevel-container">
                            <p>ITEM LEVEL <%=gearInfo.LevelItem%></p>
                        </div>
                    <%}%>
                    <%if(guesses.length >= 3 || locals.result) {%>
                        <div class="equip-jobs">
                            <%let jobs = gearInfo.ClassJobCategory.Name.split(" ")%>
                            <%jobs.forEach((job) => {%>
                                <div class="job-container">
                                    <img class="job-icon" src="icons/<%=job%>.png">
                                    <p><%=job%></p>
                                </div>
                            <%})%>
                        </div>
                        <p>Lv. <%=gearInfo.LevelEquip%></p>
                        <p class="header gray">Bonuses</p>
                        <div class="section-line"></div>
                        <div class="stats-list">
                            <%for(let i = 0; i < statNames.length; i++) {%>
                                <p class="column-<%=i%2%>"><%=statNames[i].replace(/([A-Z])/g, ' $1').trim()%> +<%=statValues[i]%></p>
                            <%}%>
                            </div>
                    <%}%>
                    <%if(guesses.length >= 2 || locals.result) {%>
                        <p class="header gray">Materia</p>
                        <div class="section-line"></div>
                        <%for(let m = 0; m < gearInfo.MateriaSlotCount; m++) {%>
                            <div class="materia-slot-border">
                                <div class="materia-slot"></div>
                            </div>
                        <%}%>
                        <div class="repair-info">
                            <p class="repair-job tan">Repair Level </p>
                            <img class="job-icon" src="icons/<%=gearInfo.ClassJobRepair.NameEnglish%>.png">
                            <p class="white"><%=gearInfo.ClassJobRepair.NameEnglish%></p>
                        </div>
                    <%}%>
                    <%if(guesses.length >= 1 || locals.result) {%>
                        <p class="release-patch">Released: <%=gearInfo.GamePatch.ExName%>, <%=gearInfo.GamePatch.Name%></p>
                    <%}%>
                    <h3>Guesses:</h3>
                    <%for(let g = 0; g < guesses.length; g++){%>
                        <%if(guesses[g] === "") {%>
                            <p>[blank]</p>
                        <%} else {%>
                            <p><%=guesses[g]%></p>
                        <%}%>
                    <%}%>
                    <%if(!locals.result) {%>
                        <%if(locals.close) {%>
                            <h4>Hints:</h4>
                            <%for(let h = 0; h < close.length; h++) {%>
                                <p><%=close[h]%></p>
                            <%}%>
                        <%}%>
                        <div class="user-input">
                            <input class="guess-box" type="text" name="guess" aria-label="Enter guess text" placeholder="Make a guess" autofocus>
                            <input class="button" type="submit" value="Guess" formaction="/checkGuess">
                        </div>
                    <%} else {%>
                        <div class="user-input">
                            <input id="startGame" class="button" type="submit" value="Play Again?" formaction="/endGame">
                        </div>
                    <%}%>
                </form>
            <%} else {%>
                <form id="gameForm" method="GET">
                    <div class="user-input">
                        <input id="startGame" class="button" type="submit" value="Start Game" formaction="/startGame">
                    </div>
                </form>
            <%}%>
        </div>
    </div>
</body>
<script type="text/javascript" language="javascript">
    document.getElementById("startGame").onmouseup = function() {
        setTimeout(() => {this.disabled = true}, 1);;
        setTimeout(() => {this.disabled = false}, 1000);
    }
</script>
</html>